extends ../layouts/default

block meta
	title Past Events | Little Rock Tech Fest
	meta(name="description" content="")
	meta(property="og:image", content="/images/lrtf-sm.png")
	meta(property="og:title" content="Past Events | Little Rock Tech Fest")
	meta(property="og:site_name", content="lrtechfest.com")
	meta(property="og:description" content="")
	meta(property="og:url", content="http://www.lrtechfest.com/events")
	meta(property="og:type", content="website")
	meta(name="twitter:card" content="summary")
	meta(name="twitter:site" content="@LRTechFest")
	meta(name="twitter:title" content="Past Events | Little Rock Tech Fest")
	meta(name="twitter:description" content="")
	//-Twitter Summary card images must be at least 120x120px
	meta(name="twitter:image" content="/images/lrtf-sm.png")

block intro
	section#EventsHero.hero.is-secondary
		.hero-body
			.container
				#particles-js
				h1.title Past Events
				h2.subtitle Check 'em!

block content
	section.section.main
		.container
			.columns.is-multiline
				each year in data.years
					.column.is-one-third
						a(href='/events/'+year)
							.card
								.card-image
									figure.image.is-4by3
										img(src="/images/events/list-images/"+year+".jpg" alt="Photo from the event")
								.card-footer
									.card-footer-item.has-text-primary #[b !{year}]