extends ../layouts/default

block intro
	section#EventsHero.hero.is-secondary
		.hero-body
			.container
				#particles-js
				h1.title Past Events
				h2.subtitle Check 'em!

block content
	section.section.main
		.container
			.columns.is-multiline
				each year in data.years
					.column.is-one-third
						a(href='/events/'+year)
							.card
								.card-image
									figure.image.is-4by3
										img(src="/images/events/list-images/"+year+".jpg" alt="Photo from the event")
								.card-footer
									.card-footer-item.has-text-primary #[b !{year}]