extends ../layouts/default

block intro

	#isNotFront
		section#EventsHero.hero.is-primary
			.hero-body
				.container
					h1.title Past Events
					h2.subtitle Check 'em!


block content

	.container
		.columns.is-multiline.m-t-32.m-b-32
			each year in data.years
				.column.is-one-third
					a(href='/events/'+year)
						.card
							.card-image
								figure.image.is-4by3
									img(src="/images/events/list-images/"+year+".jpg")
							.card-footer
								.card-footer-item.has-text-primary #[b !{year}]