extends ../layouts/default

block intro
	section.hero.is-secondary
		.hero-body
			.container
				#particles-js
				h1.title Invitation to #[span.code sponsor();]
				h2.subtitle Become a #[span.highlight sponsor] of Little Rock Tech Fest

block content

	section.section
		.container
			.tile.is-ancestor
				.tile.is-6.is-vertical.is-parent
					.tile.is-child
						p.title We're doing it again and we need YOU!
						p.subtitle Support our Central and Greater Arkansas developer community event.
						p Help us make our seventh Little Rock Tech Fest the best yet. With two days of content and an expected attendance of 500, we need your organization's help to ensure everyone is comfortable, fed, educated, and entertained. 
						p In exchange, we will show your organization lots of love!
						a.button.is-primary.is-large.is-fullwidth.m-t-32(href="mailto:sponsors@lrtechfest.com?subject=I want to sponsor LRTF!") BECOME A SPONSOR!
				.tile.is-parent
					.tile.is-child
						figure.image.is-16by9
							img(src="/images/stock/volunteers-16by9.jpg")
		.container
			.columns.is-centered
				.column.is-narrow
					.table-container
						table.table.is-striped.is-bordered.is-hoverable
							thead
								tr.is-selected
									th
									th Bronze <br> $500
									th Silver <br> $1500
									th Gold <br> $3000
									th Platinum <br> $6000
							tbody
								tr
									td Logo on website
									td ✔
									td ✔
									td ✔
									td ✔
								tr
									td Job postings on our website
									td ✔
									td ✔
									td ✔
									td ✔
								tr
									td Logo Size
									td sm
									td md
									td lg
									td xl
								tr
									td Tickets
									td 1
									td 4
									td 8
									td 16
								tr
									td Additional ticket discount
									td 10%
									td 10%
									td 20%
									td 20%
								tr
									td Logo on emails
									td
									td ✔
									td ✔
									td ✔
								tr
									td Logo on shirt
									td
									td ✔
									td ✔
									td ✔
								tr
									td Vendor Table*
									td
									td ✔
									td ✔
									td ✔
								tr
									td Collateral in attendee bags
									td
									td ✔
									td ✔
									td ✔
								tr
									td Room sponsors**
									td
									td
									td ✔
									td ✔
								tr
									td Logo on attendee bags
									td
									td
									td ✔
									td ✔
								tr
									td Logo on conference badge
									td
									td
									td
									td ✔
								tr
									td Banner ad space on emails
									td
									td
									td
									td ✔
								tr
									td Micro event sponsorship. <br/>Choice of: lunch, pre-event mixer, attendee party***
									td
									td
									td
									td ✔
			.columns.is-centered
				.column.has-text-grey
					p *Vendor table space is first­come, limited to 10 vendors. Must indicate desire for table at time of donation. We cannot guarantee space later if you do not reserve at time of donation. Tables are not available with Bronze sponsorship. Additional booth worker passes $50 each.

					p **Do up a conference room with your company’s brand. Limited availability. 3 rooms. First come, first serve.

					p ***Only one sponsor per event.

	section.hero.is-secondary
		.hero-body
			.container
				h1.title Frequently Asked Questions

	section.section
		.container
			.tile.is-ancestor
				.tile.is-vertical.is-5
					.tile
						.tile.is-parent.is-vertical
							article.tile.is-child.box
								p.title When is LRTF?
								p.subtitle Thursday, October 10 - Friday, October 11, 2019
							article.tile.is-child.box
								p.title Where is LRTF?
								p.subtitle Statehouse Convention Center, Little Rock, Arkansas
								p This year's event will be hosted in the ballrooms, with vendor space outside the perimeter.
				.tile.is-vertical.is-7
					.tile
						.tile.is-parent.is-vertical
							article.tile.is-child.box
								p.title Who attends LRTF?
								p Little Rock Tech Fest is an annual developer conference featuring popular web, mobile and related developer topics from industry leaders, so it draws professional and aspiring software developers. Speakers from across the country come to present. Students and professionals from across Arkansas and surrounding regions come to learn and network with peers. 
								//-Last year's 2017 event hosted 460 attendees. Previously, our event hosted 375 attendees in 2016. Prior to 2016 our event was a one-day free event which had 425 attendees in 2015 and 350 attendees in 2014, and 225 in 2012.
			.tile.is-ancestor
				.tile.is-parent.is-4
					article.tile.is-child.box
						p.title How can I Sponsor?
						p We accept sponsorship in the form of cash and in-kind donations. We offer benefits depending on your level of support.
				.tile.is-parent.is-6
					article.tile.is-child.box
						p.title What can you tell me about the vendor table?
						p Some sponsors receive a vendor table, which will be set up along the perimeter of the ballroom. The tables are 6' x 30" with 2 chairs, and between each table is a 4-plug outlet.
				.tile.is-parent.is-2
					article#SponsorPageImgOne.tile.is-child.box

			.tile.is-ancestor
				.tile.is-parent.is-7
					article.tile.is-child.box
						p.title Do people who work my booth need a ticket?
						p Yes, your booth workers must be ticketed since we provide meals, swag and allow you to attend our evening events. If you want to send a different person for each day, they can share the same ticket but you will use one person's registration information and they will have to share event swag. If you are interested in purchasing a separate swag bag, let us know.
				.tile.is-parent.is-5
					article.tile.is-child.box
						p.title What does it mean to be a room sponsor?
						p A room sponsor typically consists of creating signage that says this room is sponsored by you and hanging 8 or so around the area.

			.tile.is-ancestor
				.tile.is-parent.is-5
					article#SponsorPageImgTwo.tile.is-child.box
				.tile.is-parent.is-7
					article.tile.is-child.box
						p.title What are the main topics that will be discussed?
						p The LRTF Conference is focused on software developer topics that help keep developers educated and relevant to what’s coming out. The format of our talks will be 30 minute sessions with 10 minutes Q&amp;A. We are also looking for CFP’s that are 1 to 1.5 hour workshops for more in depth coverage of a topic.

						br

						p.subtitle Possible Topics may include:
						ul
							li New Language Features
							li Software Development Methodologies
							li Soft-skills for developers
							li Web Development
							li Mobile Development
							li Cloud Development
							li Database Development
							li Agile/Kanban/Scrum methodologies
							li DevOps and how it affects developers

			.tile.is-ancestor
				.tile.is-vertical.is-8
					.tile
						.tile.is-parent.is-vertical
							article.tile.is-child.box
								p.title As a sponsor, how many sessions can we present?
								p This is negotiable. Typically, we're happy to accommodate our sponsors with at least one slot and we would certainly consider multiples.
							article.tile.is-child.box
								p.title Do you have a theme of what you are trying to present?
								p See above. We're mostly interested in software developer focused talks - we want our attendees to leave with actionable insights they can take back to work. Our region is heavily trending toward cloud-based solutions and there is a strong interest in data analysis, machine learning, and IOT.
					.tile
						.tile.is-parent.is-6
							.tile
								article.tile.is-child.box
									p.title Who are the attendees? Executives? Programmers? Both?
									p Roughly 80% developers, 10% leadership, 10% business / startup / tech enthusiasts.
						.tile.is-parent
							.tile
								article.tile.is-child.box
									p.title With sponsorship, will we get a registree list?
									p This is not something we typically provided in previous years, but we're always learning to add value for sponsors and adapt to sponsor requests.
				.tile.is-vertical.is-4
					.tile
						.tile.is-parent.is-vertical
							article.tile.is-child.box
								p.title What companies came last year?
								p You can check our past event for who has sponsored in previous years. As far as attendees representation, here are several companies that were represented: Acxiom Corporation, First Orion, Information Network of Arkansas, Hewlett Packard Enterprise, Arkansas Blue Cross Blue Shield, Euronet WorldWide, Elyxor, Inc, Dassault Falcon Jet, Arkansas Children's Hospital, QualChoice Health Insurance, DataPath, Inc, Lindsey Software, University of Arkansas for Medical Sciences, JB Hunt Transport Services, Inc., Metova, Inc., JCPenney, Praeses, to name a few.
							article.tile.is-child.box
			
			.tile.is-ancestor
				.tile.is-parent.is-12
					article.tile.is-child.box
						p.title Is there an opportunity to participate in a panel?
						p Yes! We typically try to have 2-3 sessions that are panel in nature. Typically, a panel comes about because someone wants to cover a topic, but not present a formal talk and has 1-2 peers that they feel could join them to share experiences. For instance, last year, we had a DevOps panel, in which they discussed "In 'The Complete Picture' of DevOps, this set of panelists discuss how software developers, software developers in Test (SDET), and IT operations all play a role in evolving your DevOps process."

			a.button.is-primary.is-large.is-fullwidth.m-t-32(href="mailto:sponsors@lrtechfest.com?subject=I want to sponsor LRTF!") BECOME A SPONSOR!

block js
	script(src="//maps.googleapis.com/maps/api/js?v=3&libraries=places&key=AIzaSyBI59PHKJ6RKHij4YneTlmGbjyfrX6nBG8")