extends ../layouts/default

block intro
	section.hero.is-secondary
		.hero-body
			.container
				#particles-js
				h1.title Title
				h2.subtitle Subtitle

block content
	section.section.main
		.container