
COOKIE_SECRET=SECRET

# Todo
CLOUDINARY_URL=cloudinary://333779167276662:_8jbSi9FB3sWYrfimcl8VKh34rI@keystone-demo

# You will need to provide a MAILGUN_API_KEY and MAILGUN_DOMAIN to
# get email sending working.

