$pxs: (0, 8, 16, 32, 64); 
$pos: (top, bottom, left, right);  

@each $px in $pxs { 
	@each $po in $pos { 
		.m-#{str-slice($po, 0, 1)}-#{$px} { 
			margin-#{$po}: #{$px}px !important; 
		} 
		.p-#{str-slice($po, 0, 1)}-#{$px} { 
			padding-#{$po}: #{$px}px !important; 
		} 
	} 
}

::selection {
  background: $primary; /* WebKit/Blink Browsers */
  color: $white-ter;
}
::-moz-selection {
  background: $primary; /* Gecko Browsers */
}

html.has-navbar-fixed-top, 
body.has-navbar-fixed-top {
    padding-top: 8rem;
}

section.section {
	background: $quaternary-dark;
	padding: 0rem 1rem;
}

section.section .container {
	background: $grey-lighter;
	padding: 2rem;
}

a {
	color: $primary;
}

a:hover,
a.navbar-item:hover {
	color: $primary;
}

a.navbar-item:hover {
	background: $grey-darker;
}

p {
	margin-bottom: 8px;
}

#header {
	margin-top: 30px;
}

.navbar {
	background: $black-ter;
	box-shadow: none!important;
}

.navbar-item, .navbar-link {
	color: $grey-light;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	margin-left: 20px;
}
.navbar-item img {
    max-height: 5rem;
}

.is-secondary {
	background: $quaternary;
}
.is-secondary * {
	color: $white;
}

.hero.top.video {
	position: relative;
	background: $quaternary;
	background-size: cover;
	color: $white-ter;
}

.hero.top.video .hero-video {
	opacity: 0.25;
}

.hero.top.video h1.title {
	font-family: "PT Sans Caption", Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 120px;
	color: $white-ter;
}

.hero.top.video h2.subtitle {
	font-size: 26px;
	color: $white-ter;
}

.hero.top.video .social .icon a {
	margin-right: 8px;
	color: $white-ter;
}

.hero.top.video .social .icon a:hover {
	color: $primary;
}

.hero.top.video .button:hover {
	background-color: $tertiary;
}

.hero.top.video .location.icon {
	margin-left: 32px;
}

.hero.top.video .social,
.hero.top.video .event {
	font-size: 20px;
	padding: 0 0 8px 0;
}

.hero .title {
	color: $code-orange;
}
.hero .subtitle {
	color: $code-light-blue;
}
.hero .subtitle span.highlight {
	color: $code-red;
}

.hero .title span.code {
	color: $code-orange;
}
span.code {
	font-family: "Courier New", Courier, monospace;
}

#particles-js {
	width: 75%;
	float: right;
}

#particles-js canvas{
	position: absolute; 
	width:100%;
	height:100%; 
}

.columns.job .column {
	padding: 20px;
}
.columns.job:hover {
	background: hsl(0, 0%, 90%);
	color: $primary
}

.card.sponsor .card-image figure.image img {
	width: auto;
	margin: 0 auto;
	padding: 20px;

}

section.main .container {
	min-height: 60vh;
}

.section .container.banner .title {
	margin-bottom: 1rem;
}
.section .container.banner .subtitle {
	margin-top: 0px;
	margin-bottom: 1.5rem;
}

.section-icon {
	margin-bottom: 20px;
}

#sponsors p.subtitle {
	font-weight: bold;
}

.sponsor.Platinum {
  width: 400px;
  height: 400px;
}
.sponsor.Gold {
  width: 300px;
  height: 300px;
}
.sponsor.Silver {
  width: 250px;
  height: 250px;
}
.sponsor.Bronze {
  width: 175px;
  height: 175px;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.card.is-grey-inverted {
	background: $white-bis;
	color: $grey-dark;
	height: 100%;
}

.card.is-grey-inverted .subtitle {
	color: $grey-dark;
}

.card.is-floating {
	border:none;
}

.card.is-compact .section-icon {
	margin-bottom: 5px;
}

.card.is-compact .subtitle {
	margin-bottom: 1rem;
}

.pricing-table .pricing-plan .plan-header {
	border-bottom: 1px solid $white-ter;
}

.pricing-table .pricing-plan {
	box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
	background: #fafafa;
    color: #4a4a4a;
}

.pricing-table .pricing-plan .plan-item {
	background: $white;
	color: $grey-dark;
	border-top: 1px solid $white-ter;
	font-size: 1em;
}

#isMap { 
	height: 300px; 
	width: 100%;  
	z-index: 1;
}

#footer,
section.section .footer.container {
	background: $black-ter;
}

#footer p {
	color: $grey-light;
}

#footer a {
	color: $primary-light;
}
#footer a:hover {
	color: $grey;
}

.footer-link-title {
	font-weight: 600;
}

#SponsorPageImgOne {
	background: $secondary url('/images/stock/tshirts.jpg') no-repeat center bottom;
	background-size: cover;
}
#SponsorPageImgTwo {
	background: $secondary url('/images/stock/riseandshine.jpg') no-repeat center bottom;
	background-size: cover;
}

#job pre {
	white-space: pre-line;
}

@media screen and (min-width: 1472px) {
	.hero.top.video h1.title {
		font-size: 150px;
	}
}

@media screen and (min-width: 1280px) {
	.hero.top.video h1.title {
		font-size: 150px;
	}
}

@media screen and (max-width: 1280px) {
	.hero.top.video .hero-video video {
		object-fit: none;
	}
}

@media screen and (max-width: 1087px) {
	html.has-navbar-fixed-top, 
	body.has-navbar-fixed-top {
		padding-top: 4rem;
	}
	.navbar-menu {
		background-color: $black-ter;
	}
}


@media screen and (max-width: 860px) {
	.hero.top.video h1.title {
		font-size: 100px;
	}
}

@media screen and (max-width: 769px) {
	.hero.top.video h1.title {
		font-size: 64px;
	}
}

@media screen and (min-width: 769px) {
	.hero.is-medium .hero-body {
    	padding-bottom: 5rem;
    	padding-top: 3rem;
    }
}

@media screen and (max-width: 512px) {
	.hero.top.video h1.title {
		font-size: 50px;
	}
	.hero.top.video .social,
	.hero.top.video .event {
		font-size: 16px;
		padding: 0 0 8px 0;
	}
	.hero.top.video h2.subtitle {
		font-size: 20px;
	}
}