$pxs: (0, 8, 16, 32, 64); 
$pos: (top, bottom, left, right);  

@each $px in $pxs { 
	@each $po in $pos { 
		.m-#{str-slice($po, 0, 1)}-#{$px} { 
			margin-#{$po}: #{$px}px !important; 
		} 
		.p-#{str-slice($po, 0, 1)}-#{$px} { 
			padding-#{$po}: #{$px}px !important; 
		} 
	} 
}

::selection {
  background: $primary; /* WebKit/Blink Browsers */
  color: $white-ter;
}
::-moz-selection {
  background: $primary; /* Gecko Browsers */
}

body {
	background: $white-ter;
}

body .navbar {
	background: $white-bis;
}

body.dark,
body.dark .navbar,
body.dark .container.footer {
	background: $grey-dark;
	color: $white-bis;
}

html.has-navbar-fixed-top, body.has-navbar-fixed-top {
    padding-top: 8rem;
}

p {
	margin-bottom: 8px;
}

#header {
	margin-top: 30px;
}

.navbar-item, .navbar-link {
	color: $primary;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
}

.navbar-item img {
    max-height: 5rem;
}

#isFront .hero.top.video {
	position: relative;
	//background: $grey-darker;
	background: #11253D; //var?
	background-size: cover;
	color: $white-ter;
}

#isFront .hero.top.video .hero-video {
	opacity: .2;
}

#isFront .hero.top h1.title {
	font-family: "PT Sans Caption", Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 120px;
	color: $white-ter;
}

#isFront .hero.top h2.subtitle {
	font-size: 26px;
	color: $white-ter;
}

#isFront .hero.top .social .icon a {
	margin-right: 8px;
	color: $white-ter;
}

#isFront .hero.top .social .icon:hover {
	color:  $primary;
}

#isFront .hero.top .button:hover {
	background-color: $link;
}

#isFront .hero.top .location.icon {
	margin-left: 32px;
}

#isFront .hero.top .social,
#isFront .hero.top .event {
	font-size: 20px;
	padding: 0 0 8px 0;
}

.card.sponsor .card-image figure.image {
}

.card.sponsor .card-image figure.image img {
	width: auto;
	margin: 0 auto;
	padding: 20px;

}

.section .container.banner .title {
	margin-bottom: 1rem;
}
.section .container.banner .subtitle {
	margin-top: 0px;
	margin-bottom: 1.5rem;
}

.section-icon {
	margin-bottom: 20px;
}

#sponsors p.subtitle {
	font-weight: bold;
}
.sponsor.Platinum {
  width: 400px;
  height: 400px;
}
.sponsor.Gold {
  width: 300px;
  height: 300px;
}
.sponsor.Silver {
  width: 250px;
  height: 250px;
}
.sponsor.Bronze {
  width: 175px;
  height: 175px;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.card.is-grey-inverted {
	background: $white-bis;
	color: $grey-dark;
	height: 100%;
}

.card.is-grey-inverted .subtitle {
	color: $grey-dark;
}

.card.is-floating {
	border:none;
}

.card.is-compact .section-icon {
	margin-bottom: 5px;
}

.card.is-compact .subtitle {
	margin-bottom: 1rem;
}

.pricing-table .pricing-plan .plan-header {
	border-bottom: 1px solid $white-ter;
}

.pricing-table .pricing-plan{
	box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
	background: #fafafa;
    color: #4a4a4a;
}

.pricing-table .pricing-plan .plan-item {
	background: $white;
	color: $grey-dark;
	border-top: 1px solid $white-ter;
	font-size: 1em;
}

#isMap { 
	height: 300px; 
	width: 100%;  
	z-index: 1;
}

.footer {
	background: $white-ter;
}

#isNotFront .hero.is-primary {
	background: #11253D no-repeat center bottom;
	background-size: cover;
	opacity: 0.85;
}

#SponsorPageImgOne {
	background: #11253D url('/images/stock/tshirts.jpg') no-repeat center bottom;
	background-size: cover;
}
#SponsorPageImgTwo {
	background: #11253D url('/images/stock/riseandshine.jpg') no-repeat center bottom;
	background-size: cover;
}


@media screen and (min-width: 1472px) {
	#isFront .hero.top h1.title {
		font-size: 150px;
	}
}

@media screen and (min-width: 1280px) {
	#isFront .hero.top h1.title {
		font-size: 150px;
	}
}

@media screen and (max-width: 1280px) {
	#isFront .hero.top.video .hero-video video {
		object-fit: none;
	}
}

@media screen and (max-width: 860px) {
	#isFront .hero.top h1.title {
		font-size: 100px;
	}
}

@media screen and (max-width: 769px) {
	#isFront .hero.top h1.title {
		font-size: 64px;
	}
}

@media screen and (min-width: 769px) {
	#isFront .hero.is-medium .hero-body {
    	padding-bottom: 5rem;
    	padding-top: 3rem;
    }
}

@media screen and (max-width: 512px) {
	#isFront .hero.top h1.title {
		font-size: 50px;
	}
	#isFront .hero.top .social,
	#isFront .hero.top .event {
		font-size: 16px;
		padding: 0 0 8px 0;
	}
	#isFront .hero.top h2.subtitle {
		font-size: 20px;
	}
}